body {
    background-color:  black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin: auto;
}

section {
    background-color: rgba(168, 168, 168, 0.212);
    padding: 10px; /*espaçamento entre conteúdo e borda*/
    border: 2px solid white;
    margin: 10px; /*espaçamento entre elementos*/
}

article {
    background-color: white;
    color: black;
    padding: 15px; /*espaçamento entre conteúdo e borda*/
    border: 3px solid black;
    margin-bottom: 45px; /*espaçamento entre elementos*/
    border-radius: 1%;
}

#header-principal {
    background-color:rgba(168, 168, 168, 0.103);
    padding: 10px; /*espaçamento entre conteúdo e borda*/
    border: 2px solid white;
    margin: 10px; /*espaçamento entre elementos*/
}

.title {
    color: rgb(197, 162, 149);
    margin: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.fotoperfil {
    border-radius: 50%;
    border: 2px solid rgba(197, 162, 149, 0.767);
}

.img-codigo {
    margin-bottom: 45px;
    border: 2px solid black;
    border-radius: 1%;
}

a {
    color: rgb(219, 133, 102);
    text-decoration: none;
}

.item-de-lista {
    display: inline-block;
    list-style: none;
    background-color: rgba(59, 58, 58, 0.404);
    margin: 5px;
    border: 2px solid rgb(85, 77, 77);
    padding: 10px;
}

#linkedin, #github, #facebook {
    color: rgb(182, 48, 0);
    margin: 0;
    margin-bottom: 15px;
}

.topicos-dos-artigos {
    color: rgb(61, 27, 4);
    text-decoration: underline;
}

.rodape-dos-artigos {
    text-align: center;
    font-size: smaller;
}

footer {
    background-color: rgba(168, 168, 168, 0.103);
    padding: 10px; /*espaçamento entre conteúdo e borda*/
    border: 2px solid white;
    margin: 10px; /*espaçamento entre elementos*/
}

