body {
    background-color:  black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

section {
    background-color: rgba(168, 168, 168, 0.212);
    padding: 10px; /*espaçamento entre conteúdo e borda*/
    border: 2px solid white;
    margin: 10px; /*espaçamento entre elementos*/
}

article {
    background-color: white;
    color: black;
    padding: 10px; /*espaçamento entre conteúdo e borda*/
    border: 3px solid black;
    margin: 10px; /*espaçamento entre elementos*/
}

a {
    color: rgb(182, 48, 0);
}

#title, #subtitle {
    color: rgb(197, 162, 149);
}

#linkedin, #github, #facebook {
    color: rgb(182, 48, 0);
}

.topic {
    color: rgb(61, 27, 4);
}