body {
    background-color:  black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
article {
    background-color: white;
    color: black;
}
section {
    background-color: rgba(87, 85, 85, 0.308);
}
a {
    color: rgb(182, 48, 0);
}